<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDreiMeQh-Gh_nEXA6BGKsYwzE5YY16_S0</string>
	<key>GCM_SENDER_ID</key>
	<string>14550226701</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kilvish</string>
	<key>PROJECT_ID</key>
	<string>kilvish-aa125</string>
	<key>STORAGE_BUCKET</key>
	<string>kilvish-aa125.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:14550226701:ios:ed46398b7216de3aa58244</string>
</dict>
</plist>